.app {
  font-family: 'Poppins', sans-serif;
  background: #f4f4f4;
}

nav {
  padding: 20px;
  background: linear-gradient(90deg, #a36cca, #c6bf6e); 
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #09628c;
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
  color: #fff;
  transform: scale(1.1);
}

nav a::after {
  content: '';
  display: block;
  height: 2px;
  background: #900d11;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}
