.search-page {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
}

.search-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; 
}

.search-filters input {
  flex: 1;
  min-width: 150px;
  max-width: 300px; 
  padding: 8px;
  border: 1px solid #7256b3;
  border-radius: 4px;
  color: #b45353;
}

@media (max-width: 768px) {
  .search-filters {
    flex-direction: column; 
    align-items: stretch; 
  }
}

.profile-list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
  justify-content: center;
}

.profile-item {
  border: 1px solid #362e2e;
  background-color: #e7c9e7; 
  padding: 20px;
  border-radius: 10px;
  color: rgb(0, 4, 255);
  max-width: 100%; 
}

.profile-banner {
  width: 20%;
  height: auto;
  margin-bottom: 15px;
}

.social-link {
  margin-right: 10px;
  color: #830b0b;
}

strong {
  color: rgb(147, 79, 12);
}

@media (max-width: 768px) {
  .profile-list {
    grid-template-columns: 1fr; 
  }
}
